<!DOCTYPE html>
<html>
<head>
	<title>Simulador de Previdênicia - Desafio 1 - Cadastro das Perguntas no Database</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
	<div class = "container">

	<div class = "banner">
		<img class="newappIcon" src="/images/simulador-de-previdencia.png">
		<p class = "appTitle">
			Simulador de Previdênicia - Desafio 1 - Cadastro das Perguntas no Database
		</p>
	</div>


	<section>
		<table id='questions' class='records' border='0' cellspacing='0' cellpadding='0'><tbody></tbody></table>
	</section>
	<footer>
		<div>
			<!-- <button class='detailBtn' onclick="toggleServiceInfo()" title='Service information'>
				<img src='images/detail.png' alt='detail'/>
			-->
			<button class="addBtn" onclick="addItem()" title="add record">
				<img src="images/add.png" alt="add">
			</button>
			<br>
			<a class = "infoImg" onclick="toggleAppInfo()">Ajuda?</a>
		</div>
		<div id='appinfo' class = 'appinfo' style='display: "";'>
      Está aplicação deve ser utilzada para cadastrar as perguntas e possíveis respostas do formulário de simulação que será apresentado aos clientes.</br>
      Clique no botão "Adicionar" para criar uma nova pergunta. Forneça o texto da pergunta conforme deseja que apareça para o cliente.</br>
      Suporta perguntas onde a resposta pode ser aberta (será digitada pelo cliente) ou múltipla escolha.</br>
      Ao definir o tipo de respota como múltipla escolha, você deve inserir quais são as opções de resposta e se o cliente poderá ecolher apenas uma ou várias das opções.</br>
      Para modificar uma pergunta/resposta basta clicar no campo, editar conforme achar necessário e pressionar Enter.
			Clique no ícone <span class = 'deleteBtn' alt='delete'></span>para apagar a pergunta/resposta.
		</div>
		<div id="loadingImage"></div>
		<br><br><br><br><br>
		<div id="errorDiv" class='errorMsg'></div>
	</footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>
	</div>
</body>
</html>
